* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: flex-start;
}

main {
    height: 300px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div {
    font-size: 15px;
    display: flex;
    background: rgb(221, 221, 221);
    justify-content: space-between;
    padding: 19px 15px;
    
}

input {
    font-size: 20px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}